<div class="banner-profile" 
     style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dn6lyapiu/image/upload/v1615052787/sergio-souza-z0PeMSs-Q2E-unsplash_nrcvu7.jpg);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class="container">
  <div class='text-center mt-5'>
    <% if current_user.photo.present? %>
      <%= cl_image_tag current_user.photo.key, transformation: [
      {width: 550, height: 550, gravity: "face", radius: "max", crop: "crop"}, {width: 200, crop: "scale"}
      ], class: "avatar-large" %>
    <% else %>
      <%= image_tag "https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
  </div>

<%= current_user.first_name %>

</div>