// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #f9f9f9;

$hmh-red: #A91F02;
$hmh-orange: #CE7E01;
$hmh-yellow: #FFC317;
$hmh-green: #578000;
$hmh-dark-green: #243500;
$hmh-blue: #017B90;
$hmh-dark-blue: #002F37;