// Specific CSS for your home-page
body {
  font-family: $headers-font;
}


h1 {
  font-family: $hold-logo;
  margin-top: 10px;
}


h5 {
  font-weight: bold;
}

.box-title h1 {
  font-size: 56px;
  padding: 0;
  padding-top: 15px;
  color: black;
}

.box-title h4 {
  font-size: 36px;
  font-family: $hold-new;
  padding: 0;
  color: white;
}

.box-title h5 {
  padding: 0px;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding-bottom: 15px;
  color: $hmh-orange;
}

.btn-w {
  width: 250px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 10px;
}

.show-text h5 {
  opacity: 0;
 }

.show-text:hover h5 {
 opacity: 1;
 color: #16181f;
}
 
.container-reviews {
  height: max-content;
}
