// Specific CSS for your home-page
body {
  font-family: $hold-logo;
}

@media only screen and (min-width: 360px) {
  i {
    font-size: 70px;
    padding: 10px;
    width: 10vh;
    color: #16181f;
  }

  .bg-icon {
    width: 120px;
    height: 120px;
    background-color: #637381;
    border-radius: 50%;
    margin: 20px;
  }
}

@media only screen and (min-width: 600px) {
  i {
    font-size: 115px;
    padding: 10px;
    width: 10vh;
    color: #16181f;
  }

  .bg-icon {
    width: 170px;
    height: 170px;
    background-color: #637381;
    border-radius: 50%;
  }
}

.i-large {
  font-size: 15vw;
}

h1 {
  font-family: $hold-logo;
  margin-top: 10px;
}


h5 {
  color: #16181f;
  font-weight: bold;
}

.box-title > h5{
  padding: 20px;
  text-align: center;
  height: auto;
  margin: 0 auto;
  position: relative;

}

.btn-w {
  width: 150px;
}

a {
  color: #16181f;
  text-decoration: none;
}

a:hover {
  color: rgb(136, 136, 136);
  text-decoration: none;
}