.profile-name h5 {
  font-family: $hold-logo;
  font-size: 28px;
}

.banner-profile {
  background-color: white;
  color: gray;
  padding: 0;
}

.icon-description h3 {
  font-size: 17px;
}

.form-about-input textarea {
  height: 100px;
}

.row-profile {

}