.show-title h2 {
  font-family: $hold-logo;
  text-align: center;
}

.description-show {
  width: 50%;
  text-align: justify;
}

.info-show {
  min-height: 300px;
}

.description-show-lawyer h4 {
  font-family: $hold-logo;
  font-size: 36px;
}