
<div class="container">

  <div class=" d-flex justify-content-between">
    <h1 class = 'mt-3'>Chatrooms</h1>
    <button></button>
  </div>
  <ul>
  <%@chatrooms.each do |chatroom|%>
    <li>
      <%= link_to chatroom_path(chatroom) do %> 
        <%= chatroom.name %>
      <%end%>
    </li>
  <%end%>
  </ul>
  
</div>