  <%= simple_form_for @profile, url: profiles_path, method: :post do |f| %>

  <div class="form-about-input">
    
    <%= f.input :about,
                placeholder: 'Tell everyone something about you',
                label: false %>

  </div>
 
    <div class="row align-items-center mt-2">
      <div class='col-12'>
        <%= f.button :submit, "Send", class: 'btn btn-outline-dark btn-sm rounded w-100' %>
      </div>
    </div>

  <% end %>