<h1> Documents needed </h1>

<div class="cards">
  <%@documents.each do |document|%>
    <%= link_to document_path(document) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= document.photo.attached? ? cl_image_path(document.photo.key) : image_path('') %>)">
        <%= document.document_type %>
      </div>
    <% end %>
  <%end%>
</div>


