<div class="container d-flex justify-content-center">
  <div class="card-deck row d-flex">
    <% @restaurants.each do |restaurant| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card m-3 w-100">     
          <img class="card-img-top" src="https://s2.glbimg.com/clIobZ-eZba4yjkYFDcSqNHbixo=/0x0:732x458/984x0/smart/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2016/03/26/24032016---bom-prato---int.jpg" alt="Imagem restaurante">
          <div class="card-body">
            <h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant.id) %></h5>
            <p class="card-text">Description (podemos adc à tabela) </p>
            <p class="card-text"><small class="text-muted">R$ <%= restaurant.price %></small></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>