// background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('family_refugee.jpg');

.banner {
  width: 100vw;
  height: 100vh;
  background-color: #C4C4C4;
  text-align: center;
  color: white;
}

.banner-content-arrow {
  width: 100vw;
  height: 40vh;
  background-color: #16181F;
  text-align: center;
  
}

.banner-content-light {
  width: 100vw;
  height: 70vh;
  background-color: #fdfdfd;
  text-align: center;
  color: rgb(75, 75, 75);
}


.banner-content-darkness {
  width: 100vw;
  height: 70vh;
  background-color: #C4C4C4;;
  text-align: center;
  color: white;
}
