// background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('family_refugee.jpg');

.banner {
  width: 100vw;
  min-height: 100vh;
  background-color: whitesmoke;
  text-align: center;
  color: white;
}

.banner-content-arrow {
  width: 100vw;
  height: 40vh;
  background-color: #16181F;
  text-align: center;
}

.banner-content-light {
  width: 100vw;
  height: 70vh;
  background-color: #fdfdfd;
  text-align: center;
  color: rgb(75, 75, 75);
  align-items: center;
}


.banner-content-darkness {
  width: 100vw;
  height: 70vh;
  background-color: #C4C4C4;
  text-align: center;
  color: white;
}

.banner-content-darkness:hover{
  background-color: #16181F;
}

.banner-content-light:hover {
  background-color: #16181F;
}

.law-row {
  width: 100%;
}

.banner-content-darklaw {
  width: 100vw;
  height: 50vh;
  background-color: #C4C4C4;
  text-align: center;
  color: #16181F;
}

.description-lawyer h5 {
  font-family: $headers-font;
  font-size: 25px;
}

.banner-lawyer-light {
  width: 83,33vw;
  min-height: 330px;
  padding: 10px 30px ;
  background-color: $hmh-green;
  text-align: center;
  color: #fdfdfd;
}

.banner-lawyer-darkness {
  width: 83,33vw;
  min-height: 330px;
  padding: 10px 30px ;
  background-color: $hmh-dark-green;
  text-align: center;
  color: #fdfdfd;
}
.description-lawyer {
  width: 100%;
  height: 40vh;
  padding: 20px;
}

.description-lawyer h4 {
  text-decoration: none;
  font-family: $hold-logo;
  font-size: 36px;
}

.description-lawyer h6 {
  text-decoration: none;
  font-family: $headers-font;
  text-align: justify;
  padding: 1rem;
}

.description-lawyer p {
  margin: 0;
  font-size: 12px;
}

.infos-lawyer p {
  font-size: 14px; font-weight: bold;
}

// .banner-profile {
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
//   height: 60vh;
// }

// .banner-profile h1 {
//   margin: 0;
//   color: white;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   font-size: 32px;
//   font-weight: bold;
// }

// .banner-profile p {
//   font-size: 20px;
//   color: white;
//   opacity: .7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }

.document-img {
  border-radius: 10px;
  width: 260px;
  height: 180px ;
}

.banner-document-light {
  width: 83,33vw;
  min-height: 330px;
  padding: 10px 30px ;
  background-color: $hmh-blue;
  text-align: center;
  color: #fdfdfd;
}

.banner-document-darkness {
  width: 83,33vw;
  min-height: 330px;
  padding: 10px 100px 10px 50px;
  background-color: $hmh-blue;
  text-align: center;
  color: #fdfdfd;
}

.banner-profile-description {
  height: 91vh;
}

.banner-review {
  width: 97.3%;
  height: 30vh;
  background-color: $hmh-dark-green;
  text-align: center;
  color: whitesmoke;
  margin: 15.5px;
}

.review-content h4 {
  font-family: $hold-logo;
  font-size: 36px;
}

.review-content h5 {
  font-size: 25px;
}
.banner-profile-avatar {
  height: 100vh;
  background-color: $hmh-dark-blue;
}

.user-choose {
  color: $hmh-dark-blue;
}

//<-----------------------------Banner Lawyers ----------------------------->

.banner-documents:hover{
  // background-color: #16181F;
  // color: wheat;
}

//<-----------------------------Banner Home Sem Login ----------------------------->

.banner-orange {
  color: whitesmoke;
  background-color: $hmh-orange;
  width: 100vw;
  height: 50vh;
  text-align: center;
  align-items: center;
}

.banner-blue {
  color: whitesmoke;
  background-color: $hmh-blue;
  width: 100vw;
  height: 50vh;
  text-align: center;
  align-items: center;

}

.banner-green {
  color: whitesmoke;
  background-color: $hmh-green;
  width: 100vw;
  height: 50vh;
  text-align: center;
  align-items: center;
}
