.banner {
  width: 100vw;
  height: 90vh;
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('family_refugee.jpg');
  background-color: #C4C4C4;
  text-align: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  color: white;

}