.btn-form {
  width: 100%;
  font-size: 18px;
}

.btn-modal {
  font-size: 50px;
  line-height: 0.5;
  font-weight: lighter;
  color: #637381;
}

.btn-back a {
  text-decoration: none;
  color: wheat;
}

.btn-back a:hover {
  text-decoration: none;
  background-color: wheat;
  color: #16181F;
}

.facebook-button{
  background-color: #1877F2;
  color: white;
  height: 2.5rem;
}

.facebook-button:hover{
  background-color: #0b6ceb;
}
.facebook-btn-link{
  color: white;
  width: 100%;
}

.facebook-btn-link:hover{
  color: rgb(219, 214, 214);
}
.btn-see-more{
  display: flex;
  margin: 0 auto;
  padding: 0.25rem 0.45rem;
  font-size: 0.55rem;
  border-radius: 50%;
}
.send-message-chat{
  display: flex;
  margin-left: auto;
}
.create-group-button {
  // padding: 0.3rem 0.7rem;
  font-size: 0.7rem;

}

