$height-card: 180px;
$width-card: 300px;

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  // position: relative;
  height: $height-card;
  width: $width-card;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card-category {
  background-size: cover;
  background-position: center;
  height: $height-card;
  width: $width-card;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.card-category-show {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.review-card p {
  font-size: 24px;
}

.card-title a {
  color: rgb(250, 250, 250);
  font-weight: normal;
  font-size: 23px;
}

.card-title a:hover {
  opacity: 0.6;
  font-weight: normal;
  font-size: 23px;
}

.card-absolute {
  position: relative;
}

.card-fixed {
  position: absolute;
  bottom: 20px;
}

// -------------------------------- REVIEWS -------------------------------------- //

.cards-review {
  position: relative;
  transition-delay: 2s;
}

.cards-review a{
  text-decoration: none;
  color: #16181F;
}

.cards-review .btn-edit-delete-container{
  color: wheat;
  opacity: 0;
}

.cards-review:hover .btn-edit-delete-container{
  opacity: 0.8;
  transition: opacity .15s ease-in-out;

}

.btn-edit-delete-container{
  position: absolute;
  right: 0.6rem;
  bottom: 0.5rem;
}

.btn-edit{
  border-radius: 5px;
  background-color: #D9DADB;
}

.btn-edit:hover{
  background-color: wheat;
  opacity: 1;
}

.btn-delete{
  border-radius: 5px;
  background-color: #D9DADB;
}

.btn-delete:hover{
  background-color:wheat;
  opacity: 1;
}

.btn-review-index{
  font-size: 10px;
  padding: 0.25rem 0.25rem;
}

//  SHELTERS


.card-shelter {
  background-color: $hmh-orange;
  border-radius: 0;
}

.card-text {
  color: rgb(243, 243, 243);
  font-size: 0.85rem;
}

.card-text-lawyer {
  color: $hmh-dark-green;
  font-size: 0.85rem;
}

.line {
  background-color: $hmh-orange;
  height: 6px;
  width: 40vw;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.card-title {
  color: white;

}