.chat-container {
  width: 100%;
}
.message-chat-to-right {
  display: flex;
  margin-left: auto;
  background-color: $hmh-blue;
  flex-direction:column;
  opacity: 0.5;
  color: whitesmoke;
}
.message-chat-to-left {
  display: flex;
  margin-right: auto;
  background-color: $hmh-green;
  flex-direction:column;
  opacity: 0.5;
  color: whitesmoke;
}

.message-group-chat {
  width: 85%;
}
.text-message {
  margin-bottom: 0;
  margin-left: 2rem;
}
.chat-date-hour {
  font-size: 0.6rem;
}
.nickname {
  font-size: 0.85rem;
}
#messages {
  overflow-y: scroll;
  max-height: 50vh;
  background-color: rgb(243, 243, 243);
}
#h1-chat-group {
  font-size: 2rem;
}
.h2-chatroom {
  padding: 0 10px;
  margin-bottom: 10px;
  margin-top: 26px;
  font-size: 1.2rem;
}
.chatroom-show-all-groups {
  padding: 3px 20px;
}
.participants-group {
  padding: 3px 20px;
}
.all-participants-group{
  margin-top: 70px;
}
.hr-chatroom{
  margin: 0.5rem 0;
}
.h1-index-chatroom {
  margin: 0 auto;
}
.chatroom-index-form {
  margin-top: 90px;
  padding: 10px 20px;
}
