.form-container {
  width: 40%;
  margin-top: 50px;
}
.container{
  position: relative;
  min-height: 100vh;
  }

#container-content-wrap {
  padding-bottom: 2.5rem;    /*responsible for Footer height */
}