
@media only screen and (min-width: 360px) {
  .i-med {
    font-size: 70px;
    padding: 10px;
    width: 10vh;
    color: #16181f;
  }

  .bg-icon {
    width: 120px;
    height: 120px;
    background-color: #637381;
    border-radius: 50%;
    margin: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .i-med {
    font-size: 115px;
    padding: 10px;
    width: 50px;
    color: #C4C4C4;
    line-height: 1.25;
  }

  .i-med:hover {
    font-size: 115px;
    padding: 10px;
    width: 10vh;
    color: #637381;
    line-height: 1.25;
  }

  .bg-icon {
    width: 170px;
    height: 170px;
    background-color: #F4F4F4;
    border-radius: 50%;
  }

  .bg-icon:hover {
    width: 170px;
    height: 170px;
    background-color: #F4F4F4;
    border-radius: 50%;
  }


}

.i-large {
  font-size: 15vw;
}