
@media only screen and (min-width: 360px) {
  .i-med {
    font-size: 70px;
    padding: 10px;
    width: 10vh;
    color: #16181f;
  }

  .bg-icon {
    width: 120px;
    height: 120px;
    background-color: #637381;
    border-radius: 50%;
    margin: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .i-med {
    font-size: 115px;
    padding: 10px;
    width: 50px;
    color: #C4C4C4;
    line-height: 1.25;
  }

  .i-med:hover {
    font-size: 115px;
    padding: 10px;
    width: 10vh;
    color: #637381;
    line-height: 1.25;
  }

  .i-med-user {
    font-size: 90px;
    padding: 10px;
    width: 50px;
    color: #C4C4C4;
    line-height: 1.5;
  }

  .i-med-user:hover {
    font-size: 90px;
    padding: 10px;
    width: 10vh;
    color: #637381;
    line-height: 1.5;
  }

  .bg-icon {
    width: 170px;
    height: 170px;
    background-color: $hmh-yellow;
    padding: 15px;
    border-radius: 50%;
  }

  .bg-icon:hover {
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }
}

.i-large {
  font-size: 15vw;
}

// BACKGROUND HOVER
.bg-icon-orange-h:hover {
  background-color: $hmh-orange;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  color: whitesmoke;
}

.bg-icon-blue-h:hover {
  background-color: $hmh-blue;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  color: whitesmoke;
}

.bg-icon-dark-blue-h:hover {
  background-color: $hmh-dark-blue;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  color: whitesmoke;
}

.bg-icon-green-h:hover {
  background-color: $hmh-green;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  color: whitesmoke;
}

.bg-icon-dark-green-h:hover {
  background-color: $hmh-dark-green;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  color: whitesmoke;
}

.bg-icon-red-h:hover {
  background-color: $hmh-red;
  width: 170px;
  height: 170px; 
  border-radius: 50%;
  color: whitesmoke;
}

.bg-icon-yellow-h:hover {
  background-color: $hmh-yellow;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  color: whitesmoke;
}


// BACKGROUND 
.bg-icon-orange {
  background-color: $hmh-orange;
  width: 170px;
  height: 170px;
  padding: 15px;
  border-radius: 50%;
  color: whitesmoke;
}

.bg-icon-blue {
  background-color: $hmh-blue;
  width: 170px;
  height: 170px;
  padding: 15px;
  border-radius: 50%;
  color: whitesmoke;
}

.bg-icon-dark-blue {
  background-color: $hmh-dark-blue;
  width: 170px;
  height: 170px;
  padding: 15px;
  border-radius: 50%;
  color: whitesmoke;
}

.bg-icon-green {
  background-color: $hmh-green;
  width: 170px;
  height: 170px;
  padding: 15px;
  border-radius: 50%;
  color: whitesmoke;
}

.bg-icon-dark-green {
  background-color: $hmh-dark-green;
  width: 170px;
  height: 170px;
  padding: 15px;
  border-radius: 50%;
  color: whitesmoke;
}
.bg-icon-red {
  background-color: $hmh-red ;
  width: 170px;
  height: 170px;
  padding: 15px;
  border-radius: 50%;
  color: whitesmoke;
}

.bg-icon-yellow {
  background-color: $hmh-yellow;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  padding: 15px;
  color: whitesmoke;
}
