.line-orange {
  background-color: $hmh-orange;
  height: 6px;
  width: 40vw;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.line-yellow {
  background-color: $hmh-yellow;
  height: 6px;
  width: 40vw;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.line-red {
  background-color: $hmh-red;
  height: 6px;
  width: 40vw;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.line-blue {
  background-color: $hmh-blue;
  height: 6px;
  width: 40vw;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.line-green {
  background-color: $hmh-green;
  height: 6px;
  width: 40vw;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.line-dark-blue {
  background-color: $hmh-dark-blue;
  height: 6px;
  width: 40vw;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.line-dark-green {
  background-color: $hmh-dark-green;
  height: 6px;
  width: 40vw;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
