.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon h2 {
  margin: 0;
}

.navbar-lewagon h2 a {
  font-family: $hold-logo;
  font-size: 26px;
  margin: 0;
}

.navbar-lewagon p {
  margin: 0;
  padding: 0;
  margin-right: 15px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.language-choice-container{
  width: 80%
}
.language-choice-list{
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
  text-decoration: none;
  list-style: none;
}

.language-choice-list a{
  padding: 0.3rem;
}

#logo-nav a {
  font-family: $hold-logo;
  font-size: 26px;
}

#logo-nav {
  margin: 0;
  font-weight: bolder;
}

.user-nav {
  width: 140px;
}