.pop-up {
  border-radius: 50px;
  width: 90vw;
  height: 90vh;
  padding: 5vh;
  background-color: rgb(214, 214, 214);

}

.box {
  line-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: white;
  background-color: #637381;
  border-radius: 5px;
  text-align: center;
}

.title div {
  line-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  color: #637381;
}

.title h2 {
  font-family: $hold-logo;
  margin: 0;
}

.pop-up i {
  font-size: 6vh;
  // background-color: white;
  border-radius: 70px;
  padding: 10px;
  width: 10vh;
  color: white;
}

.pop-up i:hover {
 color: rgb(214, 214, 214);
}

.modal-padding {
  padding: 20px;
  border-radius: 90px;
}

.width {
  width: 100vw;
}