.subtitle {
  font-family:'Roboto';
  font-weight: 300;
  color: #16181F;
}

.outer{
  writing-mode: tb-rl;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $hmh-orange;
}
.inner{
  transform: rotate(180deg);
  text-align: center;
}

.grota {
  font-family: "Grota Rounded"
}

.background-home {
  background-color: whitesmoke;
}

.container-fluid {
  padding: 0;
}